
@media(max-width:1440px){
    .desktop-text-button{
        /* border: 5px solid green; */
        margin-left: 100px;
    }
    .desktop-text-button-2{
        /* border: 5px solid green; */
        margin-left: 100px;
    }
    .desktop-text-button-3{
        /* border: 5px solid green; */
        margin-left: 100px;
    }
    .desktop-text-button-4{
        /* border: 5px solid green; */
        margin-left: 100px;
    }
    .desktop-text-button-5{
        /* border: 5px solid green; */
        margin-left: 100px;
    }
    .desktop-text-button-6{
        /* border: 5px solid green; */
        margin-left: 100px;
    }
    .carousel-indicators{
        top: 640px !important;
        left: 900px!important;
        /* border: 5px solid red; */
        /* width: 20%; */
        height: 8%;

        
     }
     .primary-logo{
        /* border: 5px solid black; */
        right: -450px;
        width: 20vw;
        /* top: -15px; */
    }
    .primary-logo h5{
        /* border: 5px solid green; */
        width: 100%;
    }
   .nav-wrapper{
    /* border: 5px solid green; */
    margin-left: 0;
   }
   .nav-wrapper ul{
    /* border: 5px solid red; */
    margin-left: -60px;
    
   }

     
    
}
@media(max-width:1405px){
    .primary-logo{
        /* border: 5px solid black; */
        left: 10px;
        width: 9vw;
        /* top: -15px; */
    }
    .primary-logo h5{
        /* border: 5px solid green; */
        width: 100%;
    }
}
@media(max-width:1398px){
    .primary-logo{
        /* border: 5px solid black; */
        left: 10px;
        width: 9vw;
        /* top: -15px; */
    }
    .primary-logo h5{
        /* border: 5px solid green; */
        width: 100%;
    }
    .carousel-indicators{
        top: 640px !important;
        left: 700px!important;
        /* border: 5px solid red; */
        /* width: 20%; */
        height: 8%;

        
     }

}

@media(max-width:1366px){
    .desktop-text-button{
        /* border: 5px solid purple; */
        height: 50vh;
        width: 50vw;
    }
    .desktop-slide-1-text h1{
        width: 100%;
    }

}
@media(max-width:1278px){
    .desktop-text-button-2{
     max-height: 20vh;
     width: 40vw;
     /* margin-left: 5px; */
    }
 }
 

@media(max-width:1246px){
    .primary-desktop-nav{
        /* display: block !important; */
    }
    header{
        display: none !important;
    }
    .secondary-nav-2{
        display: block!important;
    }  
    .primary-logo{
        /* border: 5px solid green; */
        margin-left: 950px;
        margin-top: 28px;
        display: none !important;
    }
  }





@media(max-width:1224px){
   .desktop-text-button-6{
    /* border: 5px solid green; */
    width: 50%;
   }
   .desktop-text-button-6 h1{
    /* border: 5px solid blue; */
    width: 80%;
    
   }
   .desktop-text-button-6 p{
    /* border: 5px solid red; */
    width: 80%;
   }

    
 }
 @media(max-width:1200px){ 
   .result-button{
    /* border: 5px solid green; */
    width: 30vw;
    margin-left: -50px;
   }
}
@media(max-width:1197px){
    #header{
        display: none !important;
    }
   
}


@media(max-width:1098px){ 
    .carousel-indicators{
        top: 640px !important;
        left: 630px!important;
        /* border: 5px solid red; */
        /* width: 20%; */
        height: 8%;

        
     }
 }
 

 
 @media(max-width:994px){ 
    .carousel-indicators{
        top: 640px !important;
        left: 550px!important;
        /* border: 5px solid red; */
        /* width: 20%; */
        height: 8%;

        
     }
}
@media(max-width:993px){ 
    .header{
        display: none !important;
    }
}
@media(max-width:992px){ 
    .footer-social-icon{
       margin-top: 1.5rem !important;
    }
   
   .section-3-row .card{
    /* border: 5px solid green !important; */
    width: 50% !important;
   }
   .card-2{
    /* border: 5px solid green !important; */
    width: 50% !important;
   }
   .primary-desktop-nav{
    display: block !important;
}
.secondary-nav-2{
    display: none!important;
} 
.section-4{
    /* border: 5px solid green; */
    padding: 0 !important;
    margin: 0 !important;
}
.section-4 .container .row .card{
    /* border: 5px solid red; */
    width: 50%;
}
.digital-experience{
    /* border: 5px solid brown !important; */
    height: 40vh;
}
}
@media(max-width:991px){ 
    .border-search{
        height: 5vh;
        width: 5vw;
        border-radius: 100%;
        /* border: 1px solid #e0e1e2 !important; */
        margin-left: 100px;
        margin-top: -40px;
       padding-left: 10px;
       /* padding-right: 40px !important; */
        background-color:  #f7f8f8;
        /* padding-top: 5px; */
        padding-bottom: 5px;
    }
    .border-search i{
        /* border: 5px solid green; */
        width: 100% !important;
        height: 100% !important;
        font-size: 25px;
    }
    .icon-container{
        display: flex;
        display: block !important;
    }
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid purple; */
        margin-left: 700px;
    }
    .gt-image-container img {
        height: 7vh !important;
    }
}


@media(max-width:864px){ 
    .carousel-indicators{
        top: 640px !important;
        left: 450px!important;
        /* border: 5px solid red; */
        /* width: 20%; */
        height: 8%;

        
     }
}
@media(max-width:830px){ 
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid black; */
        margin-left: 600px;
    }
}



@media(max-width:768px){
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid red; */
        margin-left: 500px;
    }
    .footer{
        display: none !important;
    }
    .primary-footer{
        display: block !important;
    }
    .section-3-row .col-md-3{
        /* display: flex; */
        /* border: 5px solid black; */
        /* flex-wrap: wrap; */
      

    }
    .desktop-text-button{
        /* border: 5px solid purple; */
        height: 50vh;
        width: 50vw;
        margin-left: 0px;
    }
    .desktop-text-button-2{
        max-height: 20vh;
        width: 40vw;
        margin-left: 5px;
       }
    .result-button{
        /* border: 5px solid yellow; */
        margin-left: 30px;
    }
    .desktop-text-button-3{
        margin-left: 10px;
       }
       .desktop-text-button-4{
        margin-left: 10px;
       }
       .desktop-text-button-5{
        margin-left: 10px;
       }
       .desktop-text-button-6{
        margin-left: 10px;
       }

       .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 40% !important;
        left: 300px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 320px !important;
         width: 40%;
       }
       .carousel-indicators{
        top: 500px;
        left: 450px!important;
        /* border: 5px solid red; */
        /* width: 20%; */
        height: 8%;

        
     }
     .major-header{
        display: none !important;
     }
     .primary-desktop-nav{
        z-index: 1000;
     }
     .section-4 .card{
        /* border: 5px solid green; */
     }
}

@media(min-width:768px){
   .carousel-2{
    display: none !important;
   }
   
   
}



@media(max-width:767.98px){
    .section-mobile-nav{
        display: block !important;
    }
}
@media(max-width:767px){
   .carousel-2{
    display: block;
   }
   .carousel-1{
    display: none;
   }
   .carousel-indicators{
    /* border: 5px solid green; */
    top: 0 !important;
    height: 10%;
    margin-left: 100px;
   }
   
} 

@media(max-width:763px){
    /* .bg-img-1{
        position: relative;
        display: block;
        border: 5px solid green;
        background-position: 50%;
        background-size: cover;
        height: 50vh;
    }
    .text-button{
        position: absolute;
        display: block;
        border: 5px solid red;
        bottom: 10px;
        right: 10px;
    } */
    .carousel-1{
        display: none !important;
    }
    #gt-mobile .carousel-inner .carousel-item img{
        /* border: 5px solid black; */
        height: 50vh;
    }
    .carousel-2{
        display: block !important;
    }
}
@media(max-width:725px){
.carousel-indicators{
    /* border: 5px solid black !important; */
    margin-left: 40px;
}
}
@media(max-width:611px){
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid blue; */
        margin-left: 450px !important;
    }
    }
    

@media(max-width:668px){
    .carousel-indicators{
        /* border: 5px solid black !important; */
        margin-left: 0px;
    }
    }
    @media(max-width:615px){
        .carousel-indicators{
            /* border: 5px solid black !important; */
            margin-left: -40px;
        }
        }
    
    


@media(max-width:576px){
    .container{
        max-width: 540px;
    }
   
    .card-wrapper {
        /* width: 100%; */
        /* border: 5px solid black; */
        display: block;
        /* flex-wrap: wrap; */
    }
    
    .container{
        max-width: 540px;
    }
    .card-wrap .card{
        width: 100%;
    }
    .result-button{
        /* border: 5px solid black; */
        margin-left: -30px;
    }
    .section-4 .container .row .card{
        /* border: 5px solid green; */
        width: 100%;
    }
    
}

@media(max-width:575px){
    .section-3-row {
        display: block !important ;
        /* gap: 10px; */
        /* border: 5px solid blue !important; */
        /* width: 100%; */
    }
    .section-3-row .card{
        /* border: 5px solid green; */
        /* width: 100vw; */
    }
    .section-4 .container .row{
        display: block !important;
        /* border: 5px solid red; */
    }
    .digital-experience{
        display: block;
        /* border: 5px solid red; */
        background-position: center;
        height: 50vh;
    }
    .macro-economy{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 50vh;
    }
    .change-makers{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 50vh;
    }
    .the-corvus{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 50vh;
    }
    .habari-pay{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 60vh;
    }

}
@media(max-width:574px){
    .section-3-row .card{
        /* border: 5px solid red !important; */
        width: 100% !important;
       }
}
@media(max-width:560px){
   .carousel-indicators{
    /* border: 5px solid blue !important; */
    margin-left: -70px;
   }
}
@media(max-width:526px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 35% !important;
        left: 300px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 320px !important;
         width: 40%;
       }
 }

@media(max-width:522px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid green !important; */
        margin-left: 400px !important;
    }
 }
 

@media(max-width:512px){
   
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 40% !important;
        left: 290px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 300px !important;
         width: 50%;
       }
}
@media(max-width:508px){
    .carousel-indicators{
        /* border: 5px solid blue !important; */
        margin-left: -130px;
       }
      
}

@media(max-width:480px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 35% !important;
        left: 270px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 285px !important;
         width: 40% !important;
       }

}
@media(max-width:479px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid blue !important; */
        margin-left: 350px !important;
    }
}
@media(max-width:439px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 35% !important;
        left: 260px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 285px !important;
         width: 40% !important;
       }
}


@media(max-width:419px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid red!important; */
        margin-left: 300px;
    }
}
@media(max-width:415px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid black!important; */
        margin-left: 210px !important;
    }
}

@media(max-width:406px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 25% !important;
        left: 150px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 285px !important;
         width: 40% !important;
       }
      
}


@media(max-width:401px){
    .carousel-indicators{
        /* border: 5px solid blue !important; */
        margin-left: -180px;
       }
      
}

@media(max-width:376px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 25% !important;
        left: 230px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 238px !important;
         width: 35% !important;
       }
}
@media(max-width:365px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 30% !important;
        left: 200px !important;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 238px !important;
         width: 35% !important;
       }
}

@media(max-width:360px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 30% !important;
        left: 220px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 238px !important;
         width: 35% !important;
       }
}

@media(max-width:351px){
    .gt-image-container{
        margin-top: -35px;
        /* border: 5px solid green !important; */
        margin-left: 50px;
    }
}

@media(max-width:320px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 35% !important;
        left: 190px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 210px !important;
         width: 35% !important;
       }
       
    
}
@media(max-width:316px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 25% !important;
        left: 190px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 210px !important;
         width: 35% !important;
       }
       .carousel-indicators{
        top: 640px !important;
        left: 0px!important;
        /* border: 5px solid red !important; */
        /* width: 20%; */
        height: 8%;

        
     }

       
    
}
@media (max-width:320px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 25% !important;
        left: 100px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 210px !important;
         width: 35% !important;
       }
       .carousel-indicators{
        top: 640px !important;
        left: 0px!important;
        /* border: 5px solid red !important; */
        /* width: 20%; */
        height: 8%;

        
     }
}
@media (max-width:305px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 20% !important;
        left: 50px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 210px !important;
         width: 35% !important;
       }
       .carousel-indicators{
        top: 640px !important;
        left: 0px!important;
        /* border: 5px solid red !important; */
        /* width: 20%; */
        height: 8%;

        
     }
}
@media (max-width:290px){
    .gt-image-container{
        margin-top: -35px;
        /* border: 5px solid green !important; */
        margin-left: 160px !important;
    }
}
@media (max-width:286px){
    .footer-links{
        /* border: 5px solid red !important; */
        margin-left: -50px !important;
    }
}

@media (max-width:281px){
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 25% !important;
        margin-left: -5px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 210px !important;
         width: 35% !important;
       }
       .carousel-indicators{
        top: 640px !important;
        left: 0px!important;
        /* border: 5px solid red !important; */
        /* width: 20%; */
        height: 8%;

        
     }
}
@media (max-width:240px){
    .gt-image-container{
        margin-top: -35px;
        /* border: 5px solid green !important; */
        margin-left: 140px !important;
    }
    .home-news-heading ::after{
        /* border: 5px solid red; */
        width: 20% !important;
        margin-left: -15px;
       }
       .home-news-heading ::before{
         /* border: 5px solid green; */
         right: 210px !important;
         width: 35% !important;
       }

}












