
  
  @media(max-width:1389px){
    .section-footer-services .footer-services-icon{
        border: 5px solid red;
        padding: 5px;
        width: 3vw !important;
    }
  }


@media(max-width:1246px){

    .page-4-header{
        display: none !important;
    }
  }
  @media(max-width:1233px){
    .section-footer-services .footer-services-icon{
        border: 5px solid red;
        padding: 2.5px;
        height: 5vh !important;
        width: 3vw !important;
    }
  }

  
@media(max-width:1177px){
    .main-text{
        display: block;
        /* border: 5px solid green; */
        width: 50vw;
        height: 40vh;
        padding: 50px 30px;
    }
}
@media(max-width:1035px){
    .section-footer-services .footer-services-icon{
        border: 5px solid red;
        padding: 2.5px;
        height: 4vh !important;
        width: 4vw !important;
    }
  }

@media(max-width:992px){
    .footer-service-spacing{
        /* gap: 3px !important; */
        justify-content: space-between;
        /* border: 5px solid green; */
    }
    .primary-desktop-nav{
        display: block!important;
    } 
    .secondary-nav-2{
        display: none !important;
    }
}
@media(max-width:991px){
    .border-search{
        height: 5vh;
        width: 4vw;
        border-radius: 100%;
        /* border: 1px solid #e0e1e2 !important; */
        margin-left: 100px;
        margin-top: -40px;
       padding-left: 10px;
       /* padding-right: 40px !important; */
        background-color:  #f7f8f8;
        /* padding-top: 5px; */
        padding-bottom: 5px;
    }
    .border-search i{
        /* border: 5px solid green; */
        width: 100% !important;
        height: 100% !important;
        font-size: 25px;
    }
    .icon-container{
        display: flex;
        display: block !important;
    }
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid purple; */
        margin-left: 700px;
    }
    .gt-image-container img {
        height: 7vh !important;
    }
}
@media(max-width:922px){ 
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid black; */
        margin-left: 600px;
    }
}

@media(max-width:784px){
   .skew{
    /* border: 5px solid green; */
    margin-left: 6px;
    width: 15%;
   }
}




@media(max-width:768px){
    .section-footer-phone{
        display: none !important;
    }
    .section-footer-services{
        display: none !important;
    }
    .footer{
        display: none !important;
    }
    .primary-footer{
        display: block !important;
    }
    .section-1-mobile{
        display: block !important;
       
    }
    .section-1-mobile-img{
        background-position: center;
        /* border: 5px solid red; */
        width: 100%;
        background-size: cover;
        height: 40vh;
    }
    .section-1{
        display:none !important;
    }
    .sidebar{
        display: none;
    }
    .section-2 .container .row .new{
        /* border: 5px solid green; */
        width: 100vw !important;
    }
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid red; */
        margin-left: 500px;
    }
}
@media(max-width:767.98px){
    .img{
        display: block;
        /* border: 5px solid red; */
    }
   
}

@media(max-width:767px){
   .page-4-header{
    display: none;
   }
  
    
   
}
@media(max-width:677px){
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid blue; */
        margin-left: 450px !important;
    } 
}


@media(max-width:613px){
    .section-1-mobile-img{
        background-position: center;
        /* border: 5px solid black; */
        width: 100%;
        background-size: cover;
        height: 30vh;
    } 
    
 }
 @media (max-width:544px){
    .gt-image-container{
        /* margin-left:500px ; */
        margin-top: -40px;
        /* border: 5px solid blue; */
        margin-left: 400px !important;
    } 
 }
 @media(max-width:472px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid blue !important; */
        margin-left: 350px !important;
    }
}
@media(max-width:419px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid red!important; */
        margin-left: 300px;
    }
}
@media(max-width:415px){
    .gt-image-container{
        margin-top: -35px !important;
        /* border: 5px solid black!important; */
        margin-left: 210px !important;
    }
}

 @media(max-width:414px){
    .section-1-mobile-img{
        background-position: center;
        /* border: 5px solid green; */
        width: 100%;
        background-size: cover;
        height: 20vh;
    } 
 }
 @media(max-width:351px){
    .gt-image-container{
        margin-top: -35px;
        /* border: 5px solid green !important; */
        margin-left: 50px;
    }
}


 
 


