*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
/* header */
.major-header{
    /* border: 5px solid blue; */
    height: 6vh;
}
.major-nav{
    /* border: 5px solid red; */
    width: 35%;
    height: 100%;
    /* overflow: hidden; */
    background-color: #DD4F05;
}
.nav-wrapper{
    /* border: 5px solid green; */
    width: 100%;
    height: 100%;
    margin-left: 180px;
    /* overflow: hidden; */
}
.skew{
    /* border: 5px solid red; */
    height: 100%;
    width: 13vw;
    transform: skewX(-27deg);
    background-color: #923403;
    margin-left: -15px;
    /* margin-top: 6.3px; */
    overflow: hidden;
}
.skew-content{
    /* border: 5px solid green; */
    width: 70%;
    transform: skew(27deg);
    height: 100% !important;
    gap: 40px;
    margin: auto;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
 }
 

.nav-wrapper-flex{
    /* gap: 80px; */
    justify-content: space-between;
}
.nav-wrapper ul li{
    margin-left: 83px;
}
.nav-wrapper ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
.nav-wrapper ul{
    align-items: center;
}


.nav-wrapper-li{
    margin-top: 10px;
    /* margin-left: 60px; */
    /* border: 5px solid blue; */
}
.geo-wrapper{
    /* border: 5px solid red; */
    gap: 25px;
    font-size: 17px;
    font-weight: 700;
    
}
.dropdown .btn{
    /* border: 5px solid red ; */
    margin-top: 5px;
    margin-left: 10px;
}
.dropdown .dropdown-menu{
    margin-top: 7px !important;
    /* border: 5px solid blue; */
    z-index: 5000 !important;
}


/* end of header */
.primary-logo{
    position: absolute;
    margin-left: 1100px;
    top:-60px;
    z-index: 500;
    /* border: 5px solid red; */
    width: 35%;

}
.primary-logo a{
    display: block;
    text-decoration: none;
}
.primary-logo a h5{
    /* width: 100%; */
    font-size: 16px;
    line-height: 1.5rem;
    color: #788186;
    text-decoration: none;
}

.primary-nav li{
    /* float: left; */
}
.desktop-text-button{
    margin-left: 350px;
    width: 30%;
    margin-top: 80px;
    
}
.primary-list{
    list-style-type: none;
    align-items: center;
    justify-items: center;
    gap: 50px;
    /* border: 5px solid green; */
    margin-top: 15px;
    
}
.primary-list li .dropdown-menu-parent{
    text-decoration: none;
    /* margin-left: 50px; */
    font-weight: 700;
    font-size: 16px;
    color: #424A52;
    position: relative;
    display: block;
}
.primary-list li .dropdown-menu-parent::before{
  position: absolute;
  content: '';
  top: 83%;
  /* border: 5px solid yellow; */
  /* top: 33px; */
  /* bottom: -20px; */
  width: 100%;
  left: 0;
  /* height: 2px; */
  padding: 0 9px 21px;
  /* background-color: #DA4E05; */
  transition: 0.3s;
  display: none;
  border-bottom: 4px solid #DA4E05;
  
}
.primary-list li .dropdown-menu-parent:hover:before{
    width: 100%;
    display: block;
    /* border: 5px solid black; */
    z-index: 2000;
    
}
.primary-list li .dropdown-menu-parent:hover{
    color: #DD4F05;
}
#special-icon{
    color: #424A52;
}
#special-icon:hover{
    color: #DD4F05;
}
/* imported */
.dropdown_menu{
   display: none;
}
.dropdown_menu ul{
    display: block;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EBECEC;
    width: 35%;
    list-style-type: none;
    
}
.dropdown_menu ul li{
    position: relative;
    
}
.primary-nav-wrap-2 {
    position: relative;
    /* border: 5px solid green; */
    
}
.primary-nav-wrap-2 ul li:hover .dropdown_menu{
    z-index: 1999;
    position: absolute;
    border: 1px solid #e0e1e2;
    margin-top: 2.5%;
    background-color: #F7F8F8;
    width: 56vw;
    display: block;
    /* height: 30vh; */
    margin-left: -100px;
    /* border: 5px solid blue; */
    list-style-type: none;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
    border: 2px solid #e0e1e2;
}
.dropdown_menu ul li a{
    text-decoration: none;
    border-bottom: 1px solid #EBECEC;
    /* text-decoration: none; */
    font-weight: 600;
    font-size: 15px;
    color: #424A52;
    line-height: 1.438rem;
    padding: 15px 0;
}
.dropdown_menu ul li a:hover{
    color: #DD4F05;
}
.dropdown_menu ul li:hover{
    background-color: #F7F7F7;
}



 .secondary-nav-2 ul li:hover .dropdown_menu-2{
    z-index: 100;
    position: absolute;
    margin-top: 2.5%;
    background-color: #F7F8F8;
    width: 56vw;
    display: block;
    /* height: 30vh; */
    margin-left: -250px;
    /* border: 5px solid blue; */
    list-style-type: none;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
} 
 .dropdown_menu-2{
    display: none;
} 
 .dropdown_menu-2 ul{
    display: block;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EBECEC;
    width: 35%;
    list-style-type: none;
}  
 .dropdown_menu-2 ul li:hover{
    background-color: #F7F7F7;

} 
.dropdown_menu-2 ul li a{
    text-decoration: none;
    /* border: 5px solid red; */
    /* text-decoration: none; */
    font-weight: 600;
    font-size: 15px;
    color: #424A52;
    line-height: 1.438rem;
    padding: 15px 0;
    border-bottom: 1px solid #EBECEC;
}
.dropdown_menu-2 ul li a:hover{
    color: #DD4F05;
}


 .dropdown_menu-3{
    display: none;
} 
 .dropdown_menu-3 ul{
    display: block;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EBECEC;
    width: 35%;
    list-style-type: none;
   
}  
 .dropdown_menu-3 ul li:hover{
    background-color: #F7F7F7;
} 
 .secondary-nav-2 ul li:hover .dropdown_menu-3{
    z-index: 100;
    position: absolute;
    margin-top: 2.5%;
    background-color: #F7F8F8;
    width: 58vw;
    display: block;
    /* height: 30vh; */
    margin-left: -390px;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
} 
.dropdown_menu-3 ul li a{
    text-decoration: none;
    /* border: 5px solid red; */
    /* text-decoration: none; */
    font-weight: 600;
    font-size: 15px;
    color: #424A52;
    line-height: 1.438rem;
    padding: 15px 0;
    border-bottom: 1px solid #EBECEC;
}
.dropdown_menu-3 ul li a:hover{
    color: #DD4F05;
}


.dropdown_menu-4{
    display: none;
} 
 .dropdown_menu-4 ul{
    display: block;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EBECEC;
    width: 45%;
    list-style-type: none;
    

}  
 .dropdown_menu-4 ul li:hover{
    background-color: #F7F7F7;
} 
.dropdown_menu-4 ul li a{
    text-decoration: none;
    /* border: 5px solid red; */
    /* text-decoration: none; */
    font-weight: 600;
    font-size: 15px;
    color: #424A52;
    line-height: 1.438rem;
    padding: 15px 0;
    border-bottom: 1px solid #EBECEC;
}
.dropdown_menu-4 ul li a:hover{
    color: #DD4F05;
}

 .secondary-nav-2 ul li:hover .dropdown_menu-4{
    z-index: 100;
    position: absolute;
    margin-top: 2.3%;
    background-color: #F7F8F8;
    width: 57vw;
    display: block;
    /* height: 30vh; */
    margin-left: -550px;
    border: 1px solid #e0e1e2;
    /* border: 5px solid blue; */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
} 
.dropdown_menu-4 ul li .sub_menu-4{
    display: none;
    
    
}
.sub_menu-4 ul{
    width: 80%;
    /* border: 5px solid red; */
    background-color: #F7F8F8;
}
.sub_menu-4 ul li a{
    
}
.dropdown_menu-4 ul li:hover .sub_menu-4{
    
    width: 50%;
    /* border: 5px solid green !important; */
    left: 500px;
    top: 25px;
    position: absolute;
    display : block;
   
}
.sub_menu-5{
   display: none;
}
.sub_menu-5 ul{
    width: 70%;
    /* border: 5px solid red; */
    background-color: #F7F8F8;
}
.dropdown_menu-4 ul li:hover .sub_menu-5{
    display: block;
    position: absolute;
    /* border: 5px solid blue; */
    left: 500px;
    top: 0;
    width: 50%;
   
}
.bi-chevron-right{
    font-size: 25px;
   margin-top: 7px;
   /* margin-left: 150px; */
}





 .secondary-nav-2 ul li:hover .dropdown_menu-5{
    z-index: 100;
    position: absolute;
    margin-top: 2.3%;
    background-color: #F7F8F8;
    width: 57vw;
    display: block;
    /* height: 30vh; */
    margin-left: -740px;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
} 
 .dropdown_menu-5 ul li:hover{
    background-color: #F7F7F7;
} 
.dropdown_menu-5 ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #424A52;
    line-height: 1.438rem;
    padding: 15px 0;
    border-bottom: 1px solid #EBECEC;
}
.dropdown_menu-5 ul li a:hover{
    color: #dd4f05;
}


 .dropdown_menu-5 ul{
    display: block;
    background-color: #FFFFFF;
    /* border-bottom: 2px solid #EBECEC; */
    width: 35%;
    /* border: 5px solid red; */
    list-style-type: none;
    /* border: 5px solid red; */
    /* height: 50vh; */
}  
 .dropdown_menu-5{
    display: none;
} 
.primary-list a{
    display: block;
}

.desktop-slide-1-text{
    /* border: 5px solid green; */
    /* width: 30%; */
}
@keyframes move {
    from{
       margin-left: 10px;

    }
    to{
        margin-left: 15px;
    
       } 
}

.bi-arrow-right:hover{
    /* color: green; */
    animation-name: move;
    transition: all 0.5s ease-in-out;
    animation-duration: 3s;
    /* animation-delay: 3s; */
    /* animation-play-state: running; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
.desktop-slide-1-text h1{
    font-weight: 300;
    font-size: 52px;
    color: #424a52;
    line-height: 3.875rem;
    width: 75%;
    margin-bottom: 30px;
    /* border: 5px solid black; */
}
.desktop-slide-1-text h1 span{
    color: #dd4f05;
    font-weight: 300;
    font-size: 52px;
    line-height: 3.875rem;
}
/* text-button-2 */
   .desktop-text-button-2{
    /* border: 5px solid red; */
    width: 20%;
    /* height: 40vh; */
    /* min-height: 80vh; */
    /* padding-left: 80px; */
    margin-left: 300px;
    min-width: 20%;
    min-height: 70vh;
   }
/* end-of-text-button-2 */
.desktop-slide-2-text h1{
    font-weight: 300;
    font-size: 52px;
    color: #dd4f05;
    line-height: 3.875rem;
    width: 100%;
    margin-bottom: 30px;
}
.desktop-slide-2-text p{
    font-weight: 400;
    font-size: 18px;
    color: #696f73;
    line-height: 1.563rem;
    
 }
 .desktop-text-button-3{
    /* border: 5px solid red; */
    width: 40%;
    margin-left: 300px;
 }
 .desktop-slide-3-text{
    /* border: 5px solid green; */
 }
 .desktop-slide-3-text p{
    font-weight: 400;
    font-size: 18px;
    color: #696f73;
    line-height: 1.563rem;
    /* border: 5px solid yellow; */
    width: 70%;
 }
 .desktop-slide-3-text h1{
    font-weight: 300;
    font-size: 52px;
    /* border: 5px solid blue; */
    line-height: 3.875rem;
    color: #424a52;
    width: 60%;
 }
 .desktop-slide-3-text h1 span{
    color: #dd4f05;
    font-weight: 300;
    font-size: 52px;
    line-height: 3.875rem;
 }
.desktop-text-button-4{
  /* border: 5px solid red; */
  width: 30%;
  margin-left: 300px;
}
.desktop-slide-4-text{
 /* border: 5px solid green; */
}
.desktop-slide-4-text p{
    font-weight: 400;
    font-size: 18px;
    color: #696f73;
    line-height: 1.563rem;
    /* border: 5px solid yellow; */
    width: 70%;
}
.desktop-slide-4-text h1{
    font-weight: 300;
    font-family: 52px;
    /* border: 5px solid blue; */
    line-height: 3.875rem;
    color: #dd4f05;
    width: 60%;
}
.desktop-slide-5-text h1{
    font-weight: 300;
    font-size: 52px;
    /* border: 5px solid blue; */
    line-height: 3.875rem;
    color: #424a52;
    width: 60%;
}
.desktop-slide-5-text p{
    font-weight: 400;
    font-size: 18px;
    color: #696f73;
    line-height: 1.563rem;
    /* border: 5px solid yellow; */
    width: 75%;
}
.desktop-slide-5-text{
 /* border: 5px solid green; */
}
.desktop-slide-5-text h1 span{
 color: #dd4f05;
}
.desktop-text-button-5{
    /* border: 5px solid red; */
    width: 30%;
    margin-left: 300px;
    margin-top: 100px;
}
.desktop-text-button-6{
    /* border: 5px solid red; */
    width: 40%;
    margin-left: 300px;
    margin-top: 100px;
}
.desktop-slide-6-text h1 span{
    color: #dd4f05;
}
.desktop-slide-6-text{
 /* border: 5px solid green; */
}
.desktop-slide-6-text p{
    font-weight: 400;
    font-size: 18px;
    color: #696f73;
    line-height: 1.563rem;
    /* border: 5px solid yellow; */
    width:35%;
}
.desktop-slide-6-text h1{
    font-weight: 300;
    font-family: 52px;
    /* border: 5px solid blue; */
    line-height: 3.875rem;
    color: #424a52;
    width: 60%;
}

.text-button-mobile .slide-1-text h1{
    /* font-size: 52px; */
    color: #424a52;
    /* font-weight: 300; */
    /* border: 5px solid red; */
    /* width: 75%; */
    /* line-height: 3.9rem; */
    /* width: 37vh; */
    /* max-width: 37vh; */
    /* height: 35vh; */
    /* max-height: 35vh; */
}
.text-button-mobile{
    /* border: 5px solid blue; */
    /* position: relative; */
    /* width: 25%; */
    /* height: 40vh; */
    /* margin-left: 350px; */
    /* max-height: 40vh; */
    
}
.carousel-indicators button{
    /* border: 5px solid blue !important; */
    border-radius: 50%;
    height: 4vh !important;
    width: 2vw !important;
    background-color: #DD4F05 !important;
    
}
.carousel-indicators{
   top: 750px;
   left: 1100px!important;
   /* border: 5px solid red; */
   width: 20%;
   
}

.carousel-image{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img-1{
    background-image: url(../Pictures/page-1-section-1-img.jpg);
}
.bg-img-2{
    background-image: url(../Pictures/carousel-2.jpg);
}
.bg-img-3{
    background-image: url(../Pictures/carousel-3.jpg);
}
.bg-img-4{
    background-image: url(../Pictures/carousel-4.webp);
}
.bg-img-5{
    background-image: url(../Pictures/carousel-5.jpg);
}
.bg-img-6{
    background-image: url(../Pictures/carousel-6.jpg);
}
.section-3-row .card{
    /* border: 5px solid green; */
    /* height: 58vh; */
    /* max-height: 58vh; */
    /* min-height: 58vh; */
    
}
.section-3-row .card .card-title{
    /* border: 5px solid blue; */
    /* height: 5vh; */
    /* min-height: 10vh; */
    /* width: 12vw; */
    /* min-width:14vw ; */
}
.section-3-row .card .card-text{
    /* border: 5px solid yellow; */
    /* height: 14vh; */
    /* max-height: 15vh; */
    /* width: 14.7vw; */
    /* max-width: 14.7vw; */
    /* min-height: 40vh; */
    /* max-width:15vw ; */

}
.section-3-row .card .card-body{
    display: block;
    /* border: 5px solid orange; */
    font-weight: 400;
    font-size: 1rem;

}
/* section-7 */
.list-item-title a{
    text-decoration: none;
    /* border: 5px solid red; */
    display: block;
    color: #424a52;
}
.list-item-title a h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75rem;
    /* border: 5px solid red; */
    
}

.list-item-header h5{
 font-weight: 600;
 font-size: 12px;
 color: #a2a5a8;
 line-height: 1.125rem;
}
.section-7{
    background-color: #FFFFFF;
}
.home-news-heading h2{
  font-size: 24px;
  position: relative;
}
.home-news-heading{
    margin-bottom: 50px;
    /* border: 5px solid blue; */
}
.home-news-heading ::before{
    content: "";
    position: absolute;
    border: 1px solid #EAEAEA;
    top: 12px;
    margin-left: -590px;
    width: 30vw;
}
.home-news-heading ::after{
    content: "";
    position: absolute;
    border: 1px solid #EAEAEA;
    top: 12px;
    margin-left: 20px;
    width: 30vw;
}
.news-button{
    padding: 15px 10px;
    border-radius: 0;
    color: #dd4f05;
    border: 2px solid  #dd4f05 ;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5rem;
    
}
.section-5 .container .row .card .card-body{
    background-color: #F7F8F8;
}
.section-5{
    background-color: #FFFFFF;
}
.section-5 .container .row .card .card-img-top{
    border: none;
    border-radius: 0;
}

.section-5 .container .row .card{
    border-radius: 0;
    border: none;
}
#segun-agbaje{
    height: 35vh;
    width: 100%;
}
.digital-experience{
    /* border: 5px solid yellow; */
    height: 25vh;
    background-image: url(../Pictures/section-4-card-1-img.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.macro-economy{
    background-image: url(../Pictures/section-4-card-2-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 25vh;
}
.change-makers{
    background-image: url(../Pictures/section-4-card-3-img.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 25vh;
}
.the-corvus{
    background-image: url(../Pictures/section-4-card-4-img.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 25vh;

}
.section-4 .container .row .card{
    border-radius: 0;
    border: none;
}
.section-4 .container .row .card .digital-experience{
    border: none;
    border-radius: 0;
}

.section-4 .container .row .card .macro-economy{
    border: none;
    border-radius: 0;
}

.section-4 .container .row .card .change-makers{
    border: none;
    border-radius: 0;
}
.section-4 .container .row .card .the-corvus{
    border: none;
    border-radius: 0;
}
.section-4{
    background-color: #FFFFFF;
}
.digital-button{
    color: #AB3D04;
}
.habari-pay{
    background-image: url(../Pictures/habari-pay-card.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 24vh;
    /* border: 5px solid red; */
    border: none;
    border-radius: 0;
}
.section-3 .container .row .card{
    border-radius: 0;
    border: none;
}
.section-3 .container .row .card .card-img-top{
    border: none;
    border-radius: 0;
}
.section-2 .container .row .card{
    border-radius: 0;
    border: none;
}
.ceo{
    background-image: url(../Pictures/card-ceo.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 50vh;
    border: 5px solid red;
    border: none;
    border-radius: 0;
}
.card-gt{
    background-image: url(../Pictures/card-gt.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 50vh;
    /* border: 5px solid blue; */
    border: none;
    border-radius: 0;
}
.guaranty-button{
    color: #AB3D04;
}
.learn-button{
    color: #AB3D04;
}
.section-6-container .row .highlights-heading h1{
     font-size: 20px;
     font-weight: 700;
     line-height: 1.875rem;
     color: #FFFFFF;
}
.card-title-6{
    /* border: 5px solid green; */
    color: #424A52;
}
.card-text-6{
    /* border: 5px solid red; */
    color: #DE4A08;
    font-size: 52px;
    font-weight: 400;
    line-height: 4.25rem;
}
.result-button{
    color: #212121;
    border: 3px solid white;
    background-color: #FFFFFF;
    border-radius: 0;
    padding: 10px 30px;
    margin-left: 200px;
}
.highlight-6 {
    /* border: 5px solid black; */
    margin-bottom: 50px;
}
.content-6{
    /* border: 5px solid yellow; */
    /* padding-bottom: 50px; */
}
.section-6-container{
    padding-bottom: 70px;
}
.card-body-6{
    border-radius: 4px;
}









