*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.breadcrumb .breadcrumb-item a{
    font-weight: 400;
    font-size: 13px;
    color: #6c757d;
    line-height: 1.25rem;
    text-decoration: none;
}
/* imported header from css */
.major-header{
    /* border: 5px solid blue; */
    height: 6vh;

}
.major-nav{
    /* border: 5px solid red; */
    width: 35%;
    height: 100%;
    /* overflow: hidden; */
    background-color: #DD4F05;
}
.dropdown-menu li{
    margin-left: 0 !important;
}
.nav-wrapper{
    /* border: 5px solid green; */
    width: 100%;
    height: 100%;
    margin-left: 180px;
}
.skew{
    /* border: 5px solid red; */
    height: 100%;
    width: 13vw;
    transform: skewX(-27deg);
    background-color: #923403;
    margin-left: -15px;
    /* margin-top: 6.3px; */
    /* overflow: hidden; */
}

.nav-wrapper-flex{
    /* gap: 80px; */
    justify-content: space-between;
}
.nav-wrapper ul{
    /* border: 5px solid black; */
    /* text-align: center; */
    align-items: center;
}
.nav-wrapper-li a{
    color: white;
    text-decoration: none;
}
.primary-image{
    height: 10vh;
}
.dropdown-new{
    z-index: 5000 !important;
    /* border:5px solid black ; */
}
.primary-desktop-nav {
    /* border: 5px solid red !important; */
    z-index: 1500;
    margin: 0 !important;
}

.nav-wrapper ul li{
    margin-left: 83px;
}
.nav-wrapper-li{
    /* margin-top: 10px; */
    /* margin-left: 60px; */
    /* border: 5px solid blue; */
}
.nav-wrapper{
    /* border: 5px solid red; */
    margin-left: 0;
}
.primary-logo{
    position: absolute;
    margin-left: 1100px;
    top:-50px;
    z-index: 500;
    /* border: 5px solid red; */
    width: 35%;

}
.primary-logo a{
    display: block;
    text-decoration: none;
}
.primary-logo a h5{
    /* width: 100%; */
    font-size: 16px;
    line-height: 1.5rem;
    color: #788186;
    text-decoration: none;
}
.primary-list{
    list-style-type: none;
    align-items: center;
    gap: 50px;
    /* border: 5px solid green; */
    margin-top: 15px;
    
}
.dropdown .btn{
    /* border: 5px solid red ; */
    margin-top: 5px;
    margin-left: 10px;
}
.dropdown .dropdown-menu{
    margin-top: 7px !important;
    /* border: 5px solid blue; */
}
.skew-content{
    /* border: 5px solid green; */
    width: 70%;
    transform: skew(27deg);
    height: 100% !important;
    gap: 40px;
    margin: auto;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
 }

.geo-wrapper{
    /* border: 5px solid red; */
    gap: 25px;
    font-size: 17px;
    font-weight: 700;
    height: 100%;
    display: block;
    
}

.primary-list li .dropdown-menu-parent{
    text-decoration: none;
    /* margin-left: 50px; */
    font-weight: 700;
    font-size: 16px;
    color: #424A52;
    position: relative;
    display: block;
}
.primary-list li .dropdown-menu-parent::before{
  position: absolute;
  content: '';
  top: 83%;
  /* border: 5px solid yellow; */
  /* top: 33px; */
  /* bottom: -20px; */
  width: 100%;
  left: 0;
  /* height: 2px; */
  padding: 0 9px 21px;
  /* background-color: #DA4E05; */
  transition: 0.3s;
  display: none;
  border-bottom: 4px solid #DA4E05;
  
}
.primary-list li .dropdown-menu-parent:hover:before{
    width: 100%;
    display: block;
}
.primary-list li .dropdown-menu-parent:hover{
    color: #DD4F05;
}
#special-icon{
    color: #424A52;
    z-index: 100;
}
#special-icon:hover{
    color: #DD4F05 !important;
   
}
.dropdown_menu{
    display: none;
 }
 .dropdown_menu ul{
     display: block;
     background-color: #FFFFFF;
     border-bottom: 2px solid #EBECEC;
     width: 35%;
     list-style-type: none;
     
 }
 .dropdown_menu ul li{
     position: relative;
     
 }
 .primary-nav-wrap-2 {
     position: relative;
     /* border: 5px solid green; */
     
 }
 .primary-nav-wrap-2 ul li:hover .dropdown_menu{
     z-index: 1999;
     position: absolute;
     border: 1px solid #e0e1e2;
     margin-top: 2.5%;
     background-color: #F7F8F8;
     width: 56vw;
     display: block;
     /* height: 30vh; */
     margin-left: -100px;
     /* border: 5px solid blue; */
     list-style-type: none;
     box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
     border: 2px solid #e0e1e2;
 }
 .dropdown_menu ul li a{
     text-decoration: none;
     border-bottom: 1px solid #EBECEC;
     /* text-decoration: none; */
     font-weight: 600;
     font-size: 15px;
     color: #424A52;
     line-height: 1.438rem;
     padding: 5px 0;
 }
 .dropdown_menu ul li a:hover{
     color: #DD4F05;
 }
 .dropdown_menu ul li:hover{
     background-color: #F7F7F7;
 }
 
 
 
  .secondary-nav-2 ul li:hover .dropdown_menu-2{
     z-index: 100;
     position: absolute;
     margin-top: 2.5%;
     background-color: #F7F8F8;
     width: 56vw;
     display: block;
     /* height: 30vh; */
     margin-left: -250px;
     /* border: 5px solid blue; */
     list-style-type: none;
     border: 1px solid #e0e1e2;
     box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
 } 
  .dropdown_menu-2{
     display: none;
 } 
  .dropdown_menu-2 ul{
     display: block;
     background-color: #FFFFFF;
     border-bottom: 2px solid #EBECEC;
     width: 35%;
     list-style-type: none;
 }  
  .dropdown_menu-2 ul li:hover{
     background-color: #F7F7F7;
 
 } 
 .dropdown_menu-2 ul li a{
     text-decoration: none;
     /* border: 5px solid red; */
     /* text-decoration: none; */
     font-weight: 600;
     font-size: 15px;
     color: #424A52;
     line-height: 1.438rem;
     padding: 15px 0;
     border-bottom: 1px solid #EBECEC;
 }
 .dropdown_menu-2 ul li a:hover{
     color: #DD4F05;
 }
 
 
  .dropdown_menu-3{
     display: none;
 } 
  .dropdown_menu-3 ul{
     display: block;
     background-color: #FFFFFF;
     border-bottom: 2px solid #EBECEC;
     width: 35%;
     list-style-type: none;
    
 }  
  .dropdown_menu-3 ul li:hover{
     background-color: #F7F7F7;
 } 
  .secondary-nav-2 ul li:hover .dropdown_menu-3{
     z-index: 100;
     position: absolute;
     margin-top: 2.5%;
     background-color: #F7F8F8;
     width: 58vw;
     display: block;
     /* height: 30vh; */
     margin-left: -390px;
     border: 1px solid #e0e1e2;
     box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
 } 
 .dropdown_menu-3 ul li a{
     text-decoration: none;
     /* border: 5px solid red; */
     /* text-decoration: none; */
     font-weight: 600;
     font-size: 15px;
     color: #424A52;
     line-height: 1.438rem;
     padding: 15px 0;
     border-bottom: 1px solid #EBECEC;
 }
 .dropdown_menu-3 ul li a:hover{
     color: #DD4F05;
 }
 
 
 .dropdown_menu-4{
     display: none;
 } 
  .dropdown_menu-4 ul{
     display: block;
     background-color: #FFFFFF;
     border-bottom: 2px solid #EBECEC;
     width: 45%;
     font-size: 5px !important;
     list-style-type: none;
     
 
 }  
  .dropdown_menu-4 ul li:hover{
     background-color: #F7F7F7;
 } 
 .dropdown_menu-4 ul li a{
     text-decoration: none;
     /* border: 5px solid red; */
     /* text-decoration: none; */
     font-weight: 600;
     font-size: 15px;
     color: #424A52;
     line-height: 1.438rem;
     padding: 12px 0;
     border-bottom: 1px solid #EBECEC;
 }
 .dropdown_menu-4 ul li a:hover{
     color: #DD4F05;
 }
 
  .secondary-nav-2 ul li:hover .dropdown_menu-4{
     z-index: 100;
     position: absolute;
     margin-top: 2.3%;
     background-color: #F7F8F8;
     width: 57vw;
     display: block;
     /* height: 30vh; */
     margin-left: -550px;
     border: 1px solid #e0e1e2;
     /* border: 5px solid blue; */
     box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
 } 
 .dropdown_menu-4 ul li .sub_menu-4{
     display: none;
     
     
 }
 .sub_menu-4 ul{
     width: 85%;
     /* border: 5px solid red; */
     background-color: #F7F8F8;
     font-size: 2px !important;
 }
 .dropdown_menu-4 ul li:hover .sub_menu-4{
     width: 50%;
     /* border: 5px solid green !important; */
     left: 400px;
     top: 10px;
     position: absolute;
     display : block;
 }
 .sub_menu-5{
    display: none;
 }
 .sub_menu-5 ul{
     width: 70%;
     /* border: 5px solid red; */
     background-color: #F7F8F8;
     font-size: 5px !;
 }
 .dropdown_menu-4 ul li:hover .sub_menu-5{
     display: block;
     position: absolute;
     /* border: 5px solid blue; */
     left: 400px;
     top: 0;
     width: 50%;
    
 }
 
 .bi-chevron-right{
     font-size: 25px;
    margin-top: 7px;
    /* margin-left: 150px; */
 }
  .secondary-nav-2 ul li:hover .dropdown_menu-5{
     z-index: 100;
     position: absolute;
     margin-top: 2.3%;
     background-color: #F7F8F8;
     width: 60vw;
     display: block;
     /* height: 30vh; */
     margin-left: -740px;
     border: 1px solid #e0e1e2;
     box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
 } 
  .dropdown_menu-5 ul li:hover{
     background-color: #F7F7F7;
 } 
 .dropdown_menu-5 ul li a{
     text-decoration: none;
     font-weight: 600;
     font-size: 15px;
     color: #424A52;
     line-height: 1.438rem;
     padding: 5px 0;
     border-bottom: 1px solid #EBECEC;
 }
 .dropdown_menu-5 ul li a:hover{
     color: #dd4f05;
 }
 
 
  .dropdown_menu-5 ul{
     display: block;
     background-color: #FFFFFF;
     /* border-bottom: 2px solid #EBECEC; */
     width: 35%;
     /* border: 5px solid red; */
     list-style-type: none;
     /* border: 5px solid red; */
     /* height: 50vh; */
 }  
  .dropdown_menu-5{
     display: none;
 } 
 .primary-list a{
     display: block;
 }
 



/* end of imported css */
.section-1{
    background-color: #F7F8F8;
}
.section-2{
    /* width: 100%; */
    background-color: #F7F8F8;
    /* border: 5px solid red; */
    margin-top: -14.9px;
}
.banking-mobile .img{
     background-image: url(../Pictures/banking-sec-mobile-bg1.jfif);
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    /* border: 2px solid black; */
    background-size: cover;
}
.text-mobile{
    border: 5px solid white;
    background-color: white;
    /* height: 35vh; */
    /* min-width: 25vw; */
    /* min-height: 35vh; */
    /* width: 25vw;  */
}
.text-mobile .text-wrapper-mobile h1{
    color: #50575F;
    font-weight: 400;
    font-size: 40px;
    line-height: 3rem;
}
.text-mobile .text-wrapper-mobile h3{
    color: #DD4F05;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.625rem;
}
.text-mobile .text-wrapper-mobile p{
    color: #696F73;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.563rem;
}


.text{
    border: 5px solid white;
    /* border: 5px solid blue; */
    background-color: white;
    height: 30vh;
    /* max-width: 20vw; */
    /* min-height: 35vh; */
    /* width: 20vw; */
    margin-top: 100px !important; 
    margin-left: 35px;   
}
.banking .img{
    background-image: url(../Pictures/banking-sec-mobile-bg1.jfif);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    /* border: 5px solid black; */
    background-size: cover;
}
.text .text-wrapper h1{
    color: #50575F;
    font-weight: 400;
    font-size: 40px;
    line-height: 3rem;

}
.text .text-wrapper h3{
    color: #DD4F05;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.625rem;
}
.text .text-wrapper p{
    color: #696F73;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.563rem;
}

.text-wrapper{
    /* border: 5px solid red; */
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    /* width: 80%; */
    height: 90%;
    /* max-height: 37vh; */
}

.section-3{
    background-color: white;
}
.country-img img{
    /* background-image: url(../Pictures/card-img-1-page-2.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100%;
    width: 100%;
    /* background-position: center; */
    /* margin-top: 15px; */
    /* border: 5px solid red; */
}
.card-list{
    border: 5px solid #EBEBEC;
    height: 15vh;
    margin-bottom: 20px;
}
.card-list-body{
    /* border: 5px solid blue; */
    margin-top: 10px;
}

.country-img{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}
.card-list-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin-top: 29px;
    color: #424a52;
    margin-left: 30px;
}


.country-img-2{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-2 img{
    height: 100%;
    width: 100%; 
    /* border: 5px solid red; */
}


.country-img-3{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-3 img{
    height: 100%;
    width: 100%;
    min-width: 50%;
}


.country-img-4{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-4 img{
    height: 100%;
    width: 100%;
}


.country-img-5{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-5 img{
    height: 100%;
    width: 100%;
}


.country-img-6{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-6 img{
    height: 100%;
    width: 100%;
}


.country-img-7{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-7 img{
    height: 100%;
    width: 100%;
}


.country-img-8{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-8 img{
    height: 100%;
    width: 100%;
}


.country-img-9{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-9 img{
    height: 100%;
    width: 100%;
}


.country-img-10{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-10 img{
    height: 100%;
    width: 100%;
}


.country-img-11{
    overflow: hidden;
    border: 3px solid #EDEEEE;
    border-radius: 100%;
    height: 9vh;
    width: 4.5vw;
}

.country-img-11 img{
    height: 100%;
    width: 100%;
}

.sidebar-sticky{
    position: sticky;
    
    z-index: 2;
    top: 450px;
    /* padding-top: 18px; */
    /* margin-top: -18px; */
    /* border: 5px solid red; */
    margin-left: 50px;
    height: 30%;
    width: 100%;
}

.sidebar-block{
    font-size: 14px;
    border-bottom: 1px solid #EFEFF0;
    height: 5vh;
}
.sidebar-title{
    color: #424a52;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    /* border: 5px solid yellow; */
    /* margin-top: 5px; */
}

.sidebar-help{
    /* border: 5px solid yellow; */
    height: 15vh;
    margin-top: 30px;
}
.sidebar-help .sidebar-title{
    margin-left: 15px;
    /* border: 5px solid aquamarine; */
}
#banking{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
}
.sidebar-help ul li a{
    color: #696f73;
    text-decoration: none;
}
.icon-help{
    margin-left: -19px;
}

/* section-4 */
.card-heading{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    color: #424a52;
    margin-bottom: 0.5rem;
    /* border: 5px solid green; */
}
.card-footer a{
color: #AB3D04;
}
.card-footer{
    border: none;
}
.card-wrapper .card{
    border: 1px solid #e0e1e2;
    margin-left: 20px;
}
.card-footer{
    border: none !important;
    background-color: white !important;
    
}
.list-social img{
    /* border: 5px solid green; */
    height: 100%;
    width: 100%;
    color: black;
}
.footer-copyright{
    align-items: center;
}
.img-social-border{
    border-radius: 100%;
    height: 6vh;
    width: 3vw;
    border: 5px solid #434A51;
    overflow: hidden;
}
.section-footer-base{
    background-color: #434A51 !important;
    font-size: 13px;
    font-weight: 500;
    padding: 1.8rem 0.3rem;
}
.copyright{
    color: #E1E2E3;
}
.footer-links li a{
    text-decoration: none;
    color: #E1E2E3;
}
.img-social-border-new{
    /* border: 5px solid green; */
    height: 7vh;
    /* border: 1px solid #e0e1e2; */
    border-radius: 100%;
    overflow: hidden;
    /* width: 2vw; */
}
.img-social-border-new img{
    /* border: 5px solid red; */
    height: 100%;
    width: 100%;
}
.list-social{
    justify-content: space-around;
}
#career{
    text-decoration: none;
    color: #212529;
}








